<% if (locals.errors?.length) { 
  const errorMsg = errors.find(({ path }) => path === field)?.msg
%>
  <% if (errorMsg) { %>
    <p class="text-red-600 font-semibold" role="alert" aria-live="polite"><%= errorMsg %></p>
  <% } %>
<% } %>