<header class="flex justify-between items-center p-4 bg-foreground sm:px-6 lg:px-8">
  <a class="flex items-center gap-3" href="/">
    <%- headerIcon %>
    <span class="text-white font-bold text-lg">My Files</span>
  </a>
  <a href="/log-out">
    <%- logoutIcon %>
  </a>
</header>
