<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        placeholder="username"
        value="<%= locals.user?.username %>"
        type="text"
        required
      />
      <%- include("partials/error", { field: "username" }) %>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        required
      />
      <%- include("partials/error", { field: "password" }) %>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
