<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>

  <body>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        placeholder="username"
        value="<%= locals.user?.username %>"
        type="text"
        required
      />
      <%- include("partials/error", { field: "username" }) %>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        required
      />
      <%- include("partials/error", { field: "password" }) %>
      <label for="passwordConfirmation">Confirm Password</label>
      <input
        id="passwordConfirmation"
        name="passwordConfirmation"
        type="password"
        required
      />
      <%- include("partials/error", { field: "passwordConfirmation" }) %>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
